<div class="right" *ngIf="users$">

    <div class="bg-white shadow-md rounded my-6">
            <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
              <thead>
                <tr>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Nombres</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Apellidos</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Usuarios</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users$; let i = index" class="hover:bg-grey-lighter" >
                  <td class="py-4 px-6 border-b border-grey-light"> {{user.nombres}} </td>
                  <td class="py-4 px-6 border-b border-grey-light"> {{user.apellidos}} </td>
                  <td class="py-4 px-6 border-b border-grey-light"> {{user.usuario}} </td>
                  <td class="py-4 px-6 border-b border-grey-light">
                     <button (click)="delUser(i)" class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">
                      Eliminar
                    </button>
                  </td>
                </tr>
               
              </tbody>
            </table>
          </div>

</div>